<div>
    <h1>Section 2</h1>
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="amount" aria-label="amount" [(ngModel)]="amount">
</div>

<div>
    <span> <button (click)="setBalance(amount)"> Set Balance</button> </span>
    <span> <button (click)="curentBalance()"> Current Balance</button></span>
</div>


<div style="padding-top: 12px;">
    <label>Transfer to other account</label>
</div>

<div>
    <input type="text" class="form-control" placeholder="Account Name" aria-describedby="basic-addon1"
        [(ngModel)]="accountName">
    <input type="text" class="form-control" placeholder="Amount" aria-describedby="basic-addon1"
        [(ngModel)]="transferAmount">
</div>

<div style="border-bottom: 1px solid; margin-bottom: 1rem;margin-top: 1rem;">
    <button (click)="userDepo(accountName,transferAmount)"> Transfer</button>
</div>

<label style="font-weight: bold;">Account Info ::<div>
        {{accountDetails}}
    </div></label>