<div>
    <h1>Section 1</h1>
</div>
<div style="border-bottom: 1px solid;">
    <label style="font-size: 24px;">Sum of the digits in the number 100! is :: {{sumValue}}</label>
</div>

<router-outlet></router-outlet>
<div>
    <li><a routerLink="../question1">Section 2</a></li>
</div>